.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: core-background linear 50s infinite;
  white-space: nowrap;
}

@-webkit-keyframes core-background {
  0% { -webkit-transform: translate(0, 0); }
  100% { -webkit-transform: translate(-2645px, 0); }
}

@keyframes core-background {
  0% { transform: translate(1px, 0); }
  100% { transform: translate(-2645px, 0); }
}