.grid {
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  text-align: center;
}

.grid-items {
  display: inline-block;
}

.grid-item {
  display: block;
  float: left;
  width: 256px;
  height: 256px;
}

.grid-item-border {
  background: white;
  width: 80%;
  height: 80%;
  border-radius: 10000px;
  margin: 0 10% 20%;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.3),
              inset 0 0 20px 5px rgba(255, 255, 255, 0.15);

  transition: transform 0.1s ease-out;
  -webkit-transition: -webkit-transform 0.1s ease-out;
}

.grid-item-icon {
  height: 94%;
  width: 94%;
  margin: 3%;
  border-radius: 10000px;
  background: no-repeat 50% 50%;
  background-size: cover;
  background-clip: border-box;
}

.grid-item:active .grid-item-border {
  -webkit-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
}

.grid-pointer-debug {
  position: fixed;
  margin-left: -30px;
  margin-top: -30px;
  height: 60px;
  width: 60px;
  background: red;
  border-radius: 1000px;
  z-index: 99999;
  animation: point-fade ease-out 1s forwards;
  pointer-events: none;
}

@keyframes point-fade {
  0% { opacity: 1; transform: scale(1, 1); }
  100% { opacity: 0; transform: scale(2, 2); }
}